body {
  width: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, pre {
  font-family: "Poppins", sans-serif;
}

/*Top section*/
.top-section {
  
}

#header .container-fluid {
  text-align: left;
  padding: 3% 5% 4%;
}

.img-fluid {
  background-image: url(images/Headerbg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
